* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Roboto, 'sans-serif';
    background-color: white;

    &-container {
        max-width: 1920px;
        background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
        margin: 0 auto;
    }
}

